<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>OpenWebinars</title>
        <!-- htmx -->
        <script src="../../assets/htmx.min.js"></script>
        <!-- Milligram -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
        <style>
            body {
                margin: 1%;
                text-align: center;
            }

            .azul {
                background-color: skyblue;
                color: white
            }
        </style>
    </head>
    <body>
        <h1>hx-swap</h1>
        <h2>Opciones de intercambio</h2>
        <div>
            <button hx-get="data.html" hx-target="#destino" hx-swap="innerHTML">innerHTML</button>
            <button hx-get="data.html" hx-target="#destino" hx-swap="outerHTML">outerHTML</button>
        </div>
        <div>
            <button hx-get="data.html" hx-target="#destino" hx-swap="afterbegin">afterbegin</button>
            <button hx-get="data.html" hx-target="#destino" hx-swap="beforeend">beforeend</button>
        </div>
        <div>
            <button hx-get="data.html" hx-target="#destino" hx-swap="beforebegin">beforebegin</button>
            <button hx-get="data.html" hx-target="#destino" hx-swap="afterend">afterend</button>
        </div>
        <button hx-get="data.html" hx-target="#destino" hx-swap="delete">delete</button>
        <div id="destino" class="azul">✨CONTENIDO INICIAL✨</div>
    </body>
</html>
